
.msg-header-final {
    position: relative;
    height:60px;
    bottom:0;
    width:100%;
    display:flex;
    align-items:center;
    margin:0;
    justify-content: space-between;

    background:white;
    border-top: 1px solid rgb(229, 229, 228);
    i.small {
        color:rgba(0, 0, 0, 0.7);
    }

    textarea {
        border:1px solid #eee;
        resize: none;
    }
    .col-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 7.667%;
    }
}
::placeholder{
    color: rgba(0,0,0,.7);
}
