.main-first-home {
    // background-color:#3e4a59;
    background: white;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    .main-first-home-text {
        color: white;
    }
    .push-t {
        color: black;
        margin: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
    h1,
    h2,
    h3,
    h4 {
        color: black;
        text-align: center;
    }
}