.main-home-component{


    z-index: 10;

    width: 100%;
    height: auto;

    color:white;

    margin-top:50px;

    i.success {

        color:#ffca28;
    }

    i.video {

        color:#5c852c;
    }

    i.help {

        color:#13646e;
    }

    .card{
        border:1px solid $tp-primary-color-2;

        border-radius: 4px;
        box-shadow: 0 1px 1px #e4e7ed;
    }

    .card.small {
        height:350px;
    }

    .card-image{


        text-align:center;
        margin-top:30px;
        margin-bottom: 30px;
    }

    .card-content{
        padding:14px 0;
        text-align:center;

           p {
            padding: 15px;
            margin: 0;
               background-color:#f6f7f9;


               a {

                   color:$tp-link-color;
               }
        }


    }
    .card-reveal {

        p{

            color:rgba(0, 0, 0, 0.6);
        }
    }




    @media (min-width:768px)

    {



        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 47.333%;
            max-width: 50.333%;
        }

    }


    @media (min-width: 992px) {
        .col-lg-4 {

            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

    }



}

