


@screen sm {
   

   .card_recent_projet {

       @apply mx-auto ;

        width:100%
     

   }

}





@screen md {
   

   .card_recent_projet {

       @apply mx-auto ;

        width:50%
     

   }

}



@screen lg {
   

   .card_recent_projet {

       @apply  m-4;

        width:30%

   }

}









