@import 'moreVideo';


.listRecent{

    width:22%;
    border:1px solid white;
    margin-left: 15px;
    background-color:white;
    z-index: 2000;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);





}
.card.horizontal .card-image{
    width:58%;
    max-width:59%;

    img{

        width:100%;
    }
}


.header-description{
    border-bottom:1px solid rgba(244, 67, 54, 0.8);
    padding:15px;
    background-color:rgba(244, 67, 54, 0.8);
    display: flex;
    flex-direction: column;

    color:white;

    div{

        width: 100%;
        padding: 5px;
    }

    h2{

        font-weight: 400;
        color:white;
        margin: 0;


    }
    h4{
        color:inherit;
    }

    h3{

        font-size: 12px;
    }
    h5{
        color:inherit;
    }

}





