
.row-show-temoignage {

    width: 100%;
    .header-show {
        width:100%;
        background-color:white;
     margin : 0;
        height:250px;
    color: $base-font-color;

        .add_temoignage {
            display: flex;

            background: linear-gradient(to bottom, rgba(118, 56, 183, 0.1) 0, rgba(107, 55, 182, 0.1) 100%), linear-gradient(-40deg, rgba(114, 55, 161, 0) 82%, #7237a1 88%, #7237a1 94%, rgba(114, 55, 161, 0) 110%), linear-gradient(-60deg, rgba(153, 77, 207, 0) 36%, rgba(153, 77, 207, 0.5) 38%, rgba(153, 77, 207, 0.5) 40%, rgba(153, 77, 207, 0) 42%), linear-gradient(-60deg, rgba(153, 77, 207, 0) 0, rgba(153, 77, 207, 0) 48%, rgba(153, 77, 207, 0.8) 56%, rgba(153, 77, 207, 0) 62%), linear-gradient(34deg, rgba(232, 134, 232, 0) 0, rgba(232, 134, 232, 0) 75%, rgba(232, 134, 232, 0.6) 81%, rgba(232, 134, 232, 0.6) 83%, rgba(232, 134, 232, 0) 89%), linear-gradient(to right, #302877 0, #4f329c 25%, #7f40cb 61%, #9c55d7 80%, #9e55da 100%);

            /*
            background: linear-gradient(135deg,#ffca28 0,#9ccc65 100%)!important;
            */
            text-align: center;
            align-items: center;
            justify-content: center;

            height: 200px;
        }

        .title{

            h1{
                  font-size:2.5rem;
                  font-weight:400;

              }
        }

        .name {
            h1{
                font-weight:bold;
            }
        }
        h1,h2{

            text-align:center;
        }

    }



    .background-end {

        background:$tp-linear-gradient-first;
        width:100%;
        /*
        background:linear-gradient(135deg,#ffca28 0,#9ccc65 100%)!important;
        */

        max-height: 250px;
        min-height:250px;
        margin:25px 0;
        transition: all 2s;
    }


}



//import

@import 'children/headerShowTemoignage';
@import 'temoignageShowSelected';
