
@import 'children/familly';
@import 'children/personnel';
@import 'children/temoigner';
@import 'temoignageAdd';
@import  'showTemoignage';



.div-card-temoignage {
    width:25%;
}

@media screen and (max-width: 600px) {


    .div-card-temoignage {
        width:80%;
    }
}
