
.messagerie {
    position: fixed;
    right: 50px;
    bottom:20px;
    z-index: 10000;

    max-height:510px;
    min-height:50px;
    width:510px;

    display:flex;
    justify-content: flex-end;
    .messagerie-img {

        display:flex;
        align-items: flex-end;
        justify-content: flex-end;

    }
     .col-3 {

        ms-flex: 0 0 25%;
        flex: 0 0 16%;
        max-width: 25%
    }



}
@import 'pages/msg-home-conversation-body';
@import 'pages/msg-home';
@import 'pages/msg-home-affiche-accueil';
@import 'pages/msg-home-affiche-communaute';
@import 'pages/conversation-children/msg-conversation-footer';
@import 'pages/conversation-children/msg-conversation-header';
