.header-sidebar{

    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background:#3e4a59;
    overflow-y: auto;
    height:100vh;
    width:260px;


    i.small{
        font-size:1.3rem;
        margin:0 15px;
    }

    .header-sidebar-avatar{

        margin:50px auto;


        img{

            width: 100px;
            height: 100px;
            border-radius: 80px;
            cursor:pointer;
        }
    }


    .header-sidebar-menu   {

        display:flex;
        flex-direction:column;
        justify-content:center;




        a{


            padding:20px 0;
            border:1px solid #485361;
            color:#939faf;
            font-size:1.2rem;

        }

        a:focus{



            background-color:#485361;
            color:white;
        }

        a:hover{

            background-color:#485361;
            color:white;
            transition:all .3s;
            font-size:1.4rem;
        }

        a.logout{

            background:#2b333c;
        }


    }

}
