$bodyColor:#212529;
$bodyBackgroundColor:#f1f2f7; //#fafafa
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    overflow-x: hidden;
    background-color: white !important;
    color: $base-font-color;
    min-height: 100%;
    font-family: $base-font-family;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $base-font-color;
    font-weight: normal;
    /*    font-family: 'Open sans', sans-serif;*/
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

// for materialize icons
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/*code framework*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.container {
    padding: 0 0px;
    /*max-width: 1150px;*/
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    width: 100%;
    padding: 0;
}

//Les formulaire
// input
.form-group-TheProgrammer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-TheProgrammer {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(91, 90, 90, 0.3);
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
}

.form-control-TheProgrammer::placeholder {
    color: rgba(43, 42, 41, 0.5);
}

// buttons
.btn-pink-TheProgrammer {
    padding: 8px 20px;
    color: white;
    background-color: $colorRose;
    border: 1px;
    border-radius: 3px;
    font-size: 1.5em;
}

.btn-pink-TheProgrammer:hover {
    background-color: transparent;
    border: 1px solid $colorRose;
    color: $colorRose;
    cursor: pointer;
    transition: background-color .3s;
}

//overwrite bootstrap
.row {
    margin-left: 0;
    margin-right: 0;
}

//color
.main-color {
    color: #5cb45b !important;
}