
// couleur de base

$tp-primary-color:white;
$tp-primary-color-2:#f2f2f2;
$tp-color-black:#2a323c;
$tp-color-green:#5cb45b;
$tp-secondary-color:#5cb45b;

$tp-linear-gradient-first:repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);

$tp-link-color:$tp-color-green;

$colorRose:rgb(236,64,122);
$colorWhite:#ffffff;
$colorWhiteFlou:#999;
$colorBlack:rgb(49, 49, 49);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$colorRose:rgb(236,64,122);
$colorWhite:#fff;
$colorWhiteFlou:#999;
$colorBlack:rgb(49, 49, 49);


/*variable*/
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$colorGreen : #5cb45b;



//font , typography


$base-font-family : 'Rubik',sans-serif;
$base-font-color:$tp-color-black;
$base-font-active-color:$tp-color-green;

