<template>


    <b-row  align-h="center" class="row-main-global">

     <main-first-home></main-first-home>

        <main class="main">
          <!--  <home-realisation-component></home-realisation-component>-->


            <main-recent-projet></main-recent-projet>

            <main-home-component></main-home-component>
            <Caroussel-home></Caroussel-home>



        </main>



    </b-row>

</template>


<script>
    import MainHomeComponent from '../children/home/modules/MainHomeComponent.vue'
    import MainRecentProjet from '../children/home/modules/MainRecentProjet.vue'
    import HomeRealisationComponent from '../children/home/modules/HomeRealisationComponent.vue'
    import MainFirstHome from '../children/home/modules/MainFirstHome.vue'
    import CarousselHome from '../children/home/modules/CarousselHome.vue'


    export  default {
        components: {
            MainHomeComponent,
            MainRecentProjet,
            HomeRealisationComponent,
            MainFirstHome,
            CarousselHome

        },

    }
</script>
<!--
<style lang="scss" src="../../assets/sass/home/home.scss" >
</style>
-->
