<template>



         <b-row >



                 <router-view></router-view>
         </b-row>
</template>

<script>
    import headerPortfolio from './../children/portfolio/global/header-portfolio'
    export default {
        name: "portfolio"
        ,
        components: {headerPortfolio}
    }
</script>

<style scoped>

</style>
