@import '../auth/partials/loginAndRegister';
@import '../global/sidebar';

.sidebar-auth{

    background-color:$tp-primary-color;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:500px;
    display:flex;

    transition:width .5s;
    animation-name:fadeRight;
    animation-duration:.3s;
    animation-fill-mode:both;

}

.row-auth {

    margin:auto;
}



@keyframes fadeRight {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.row-auth{

    margin:auto auto !important;
    height:100%;
    width: 80%;


}


