<template>
<v-container class="mx-auto">
    <v-card class="mx-auto card_selected_realisation" max-width="800px">
        <h1> {{ realisation_selected.title }} </h1>
        <br/>

        <v-img max-height="400px"     :aspect-ratio="16/9" 
        :src="require(`~/static/realisation/${realisation_selected.img}`)" :lazy-src="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
       class="grey lighten-2">
        </v-img>
       


<br/>
        <br/>
        <v-card-text>
            {{ realisation_selected.message }}
        </v-card-text>

        <v-card-actions>

    
          
    <v-btn
      outlined
    class="ma-2"

      color="primary"
    >
      Visiter
    </v-btn>
        </v-card-actions>
        <br/>
        <br/>
        <br/>
    </v-card>


 

      <v-row>
    <v-col
      v-for="(realisation,n) in realisation_selected.other_img"
      :key="n"
      class="d-flex child-flex"
      cols="6"
    >


            <v-img
                      :src="require(`~/static/realisation/${realisation}`)" 
            :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
            
            :aspect-ratio="16/9"

            class="grey lighten-2"
        >
            <template v-slot:placeholder>
            <v-row
                class="fill-height ma-0"
                align="center"
                justify="center"
            >
                <v-progress-circular
                indeterminate
                color="grey lighten-5"
                ></v-progress-circular>
            </v-row>
            </template>
      </v-img>



      
     
    </v-col>
  </v-row>
 
</v-container>
</template>

<script>
import {
    mapGetters
} from "vuex";
export default {
    data() {
        return {
            id: 0,
            realisation_selected: {
                img: "courrier4.png",
            },
        };
    },

    mounted() {
        console.log("vici ide", this.$route.params.id);

        console.log("tab ==", this.tab_realisation);

        this.realisation_selected = this.tab_realisation.filter(
            (realisation) => realisation.id == this.$route.params.id
        )[0];
    },

    fetchOnServer: false,

    computed: {
        ...mapGetters("utils", ["tab_realisation"]),
    },
};
</script>

<style lang="scss" scoped>
.card_selected_realisation {
    box-shadow: none !important;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #1976d2;
}
</style>
