<template>
<v-container class="mx-auto">
    <v-card class="mx-auto card_selected_realisation" max-width="800px">
        <!-- <h1> {{ communitie_selected.title }} </h1>
        <br/>

        <v-img max-height="400px" :src="require(`~/static/images/${communitie_selected.img}`)" :lazy-src="`https://picsum.photos/10/6?image=${1 * 5 + 10}`" aspect-ratio="1" class="grey lighten-2">
        </v-img>
       


<br/>
        <br/>
        <v-card-text>
            {{ communitie_selected.message }}
        </v-card-text>

        <v-card-actions>

    
          
    <a :href="communitie_selected.link" target="_blanc">
        
        <v-btn
        outlined
        class="ma-2"

        color="primary"
        >
        Visiter
        </v-btn>

    </a>
        </v-card-actions>
        <br/>
        <br/>
        <br/> -->
    </v-card>
</v-container>
</template>

<script>
import {
    mapGetters
} from "vuex";
export default {
    data() {
        return {
            id: 0,
            communitie_selected: {
                img: "whatssap.PNG",
                 link:"https://discord.gg/8SyZ7GA",
            },
        };
    },

    mounted() {
      

        this.communitie_selected = this.tab_communitie.filter(
            (communitie) => communitie.id == this.$route.params.id
        )[0];
    },

    fetchOnServer: false,

    computed: {
        ...mapGetters("utils", ["tab_communitie"]),
    },
};
</script>

<style lang="scss" scoped>
.card_selected_realisation {
    box-shadow: none !important;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #1976d2;
}
</style>
