

@import 'module/accueil';
@import 'module/realisation';
@import 'module/header_portfolio';


//responsive


@media screen and (max-width: 425px) {

    .realisation .section-show-realisation .card-group-realisation .card-realisation {
        width: 100%;
        cursor: pointer;
    }

    .realisation .section-show-realisation {

        justify-content: center;
    }

    .realisation {
        margin:0 !important;
    }

    .ul-list-item-header {
        display: flex;
        flex-direction: column
    }
}


.row {

    margin-left: 0 !important;
    margin-right: 0 !important;
}

