<template>


        <div class="carousel">




            <a class="carousel-item" href="#"><img src="/images/veste1.jpg"    width="800px" ></a>
            <a class="carousel-item" href="#"><img src="/images/respo1.jpg"   width="800px"></a>
            <a class="carousel-item" href="#"><img src="/images/3.jpg"   width="800px"></a>
            <a class="carousel-item" href="#"><img src="/images/jes.jpg"  width="800px"></a>
            <a class="carousel-item" href="#"><img src="/images/jes.jpg"   width="800px"></a>


        </div>



</template>

<script>



    export default {
        data () {
            return {
                slide: 0,
                sliding: null ,
                created:''
            }
        },
        methods: {
           onSlideStart (slide) {
                this.sliding = true
            },
            onSlideEnd (slide) {
                this.sliding = false
            }
        },

        mounted(){



        $('.carousel').carousel();


        }
    }
</script>
