<template>



<v-container fluid>


    <v-row dense>


         <v-hover v-slot:default="{ hover }" class="card_recent_projet"  v-for="(communitie,key) in tab_communitie" :key="key">
             
                        <nuxt-link :to="'/communitie/' + communitie.id">
                            <v-card :hover="true">
                                <v-img :src="require(`~/static/images/${communitie.img}`)"     :aspect-ratio="16/9" 
                                class="white--text align-end" height="300px">

                                      <v-expand-transition>
                                    <div
                                        v-if="hover"
                                        class="d-flex transition-fast-in-fast-out blue darken-2 v-card--reveal display-3 white--text"
                                        style="height: 100%; width:100%"
                                    >
                                       {{communitie.title}}
                                    </div>
                                    </v-expand-transition>
                                </v-img>
                            </v-card>


                            
                                     <br />
        
                        </nuxt-link>
                   
          </v-hover>

          

    </v-row>

       
</v-container>
</template>

<script>
import {
    mapGetters
} from "vuex";
export default {
  
    data() {
        return {
          hover:false
        };
    },

    computed: {
        ...mapGetters("utils", ["tab_communitie"]),
    },
};
</script>

<style lang="scss">
// SETUPS
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
$main-font: "Source Sans Pro",
sans-serif;
$white: #fff;
$black: #000;
$primary-col: #6200ea;
$secondary-col: #ff9e80;
$light-col: rgba($secondary-col, 0.7);
$mid-col: rgba($primary-col, 0.8);
$turn-speed: 0.8s;
$ease: ease-in-out;

// GENERAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}


// CARD
.card {
    position: relative;
    width: 374px;

    height: 450px;
    margin: 1rem;
    transform-style: preserve-3d;
    perspective: 800px;

    // Sides
    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform $turn-speed $ease;

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            filter: grayscale(70%) brightness(40%);
        }
    }

    .front {
        background-color: $primary-col;
    }

    .back {
        background-color: $secondary-col;
        background-image: linear-gradient(-45deg,
                darken($secondary-col, 10%),
                $secondary-col);
        transform: rotateY(180deg);
    }

    &:hover {
        cursor: pointer;

        .front {
            transform: rotateY(-180deg);
        }

        .back {
            transform: rotateY(0deg);
        }
    }

    // Contents
    .contents {
        color: $white;
        text-align: center;
        transform: translateZ(100px);

        .title,
        .subtitle {
            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                margin: 1rem auto;
                background: $white;
            }
        }

        .title {
            font-size: 1.5em;
            white-space: nowrap;
        }

        .subtitle {
            font-size: 1em;
        }

        .text {
            font-size: 1.125em;
        }

        .socials {
            list-style: none;
            display: flex;
            justify-content: center;

            a {
                display: inline-block;
                margin: 0.5rem;
                font-size: 2em;
                color: $white;
                transition: transform 0.3s;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}
</style>
