<template>


    <b-row class="afficheRealisation" align-h="around" style="margin:auto">

        <b-col class="affiche-col" cols="12"  sm="6" md="4" lg="2" >

            <b-row class="w-100" align-v="start">

              <b-col>
                  Piano
                  100%%
              </b-col>


                <b-col>

                    User Registration

                </b-col>
             </b-row>

            <b-row class="w-100"  align-v="end">
            bonjour je suis le end
            </b-row>

        </b-col>
      <b-col class="affiche-col"  cols="12"  sm="6" md="4" lg="2" >

            <b-row class="w-100" align-v="start">

              <b-col>
                  Piano
                  100%%
              </b-col>


                <b-col>

                    User Registration

                </b-col>
             </b-row>

            <b-row class="w-100"  align-v="end">
            bonjour je suis le end
            </b-row>

        </b-col>

      <b-col class="affiche-col"  cols="12"  sm="6" md="4" lg="2" >

            <b-row class="w-100" align-v="start">

              <b-col>
                  Piano
                  100%%
              </b-col>


                <b-col>

                    User Registration

                </b-col>
             </b-row>

            <b-row class="w-100"  align-v="end">
            bonjour je suis le end
            </b-row>

        </b-col>

        <b-col class="affiche-col"  cols="12"  sm="6" md="4" lg="2" >

            <b-row class="w-100" align-v="start">

              <b-col>
                  Piano
                  100%%
              </b-col>


                <b-col>

                    User Registration

                </b-col>
             </b-row>

            <b-row class="w-100"  align-v="end">
            bonjour je suis le end
            </b-row>

        </b-col>



        </b-row>
</template>
<script>
    export default {
        name: "HomeRealisationComponent"
    }
</script>

