<template>
<header class="header_main">
    <div class="overlay sm:w-full lg:w-6/12 md:w-full text-left" gradient="to right, rgba(5, 11, 31, .8), rgba(5, 11, 31, .8)">
        <h1>Faites ressortir le véritable potentiel de votre marque</h1>
        <h3>Raisons de nous choisir</h3>
        <p>
           À travers la programmation web , logiciel , j'aide les entreprises et les organisations 
           à mieux positionner leurs marques sur le marché.
        </p>
        <br />
    
       <button>  <nuxt-link to="projets/galery"><strong>COMMENCER UN PROJET</strong> </nuxt-link> </button>
     
    </div>
</header>
</template>

<style lang="scss" scoped>
.header_main {
    background: url("/programmer2.jpg") center center / cover;
    width: 100%;

    position: relative;
    border-radius: 0 0 85% 85% / 30%;
    text-align: center;
}

.header_main .overlay {
   

    padding: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

h3,
p {
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
    cursor: pointer;
}
</style>
