<template>

    <b-container class="recentProjet">

        <b-row class="w-100" style= "width:100%;display:flex;flex-wrap:wrap">



         <!--   -----************************************** -->
        <b-col lg="2" xl="2"  md="6" sm="6" cols="6"   class="recent-header recent-one">

                   <div class="recent-header-name pull-left">
                       <i class="small material-icons">straighten</i>
                   </div>

                    <div class="recent-header-size ">

                        <h3> 1555</h3>
                        <span>projet</span>

                    </div>



        </b-col>


        <!--   -----************************************** -->
        <b-col lg="2" xl="2"  md="6" sm="6" cols="6" class="recent-header recent-two">

                <div class="recent-header-name pull-left">
                    <i class="small material-icons">straighten</i>
                </div>

                <div class="recent-header-size pull-right">

                    <h3> 1555</h3>
                    <span>projet</span>

                </div>


        </b-col>

        <!--   -----************************************** -->
        <b-col lg="2" xl="2"  md="6" sm="6" cols="6"  class="recent-header recent-three">

                <div class="recent-header-name pull-left">
                    <i class="small material-icons">straighten</i>
                </div>

                <div class="recent-header-size ">

                    <h3> 1555</h3>
                    <span>projet</span>

                </div>


        </b-col>

        <!--   -----************************************** -->
        <b-col  lg="2" xl="2"  md="6" sm="6" cols="6" class="recent-header recent-four">

                <div class="recent-header-name pull-left">

                    <i class="small material-icons">straighten</i>


                </div>

                <div class="recent-header-size ">

                    <h3> 1555</h3>
                    <span>projet</span>

                </div>


          </b-col>
        </b-row>

    </b-container>
</template>


<script>
    export default{}
</script>

