<template>
        <b-container class="main-home-component">


        <h3 class="titleManage"> Gestion TheProgrammer  world  </h3>
            <br>

            <b-row class="w-100">


                <b-col  sm="6"  md="4" lg="4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <i class="large material-icons success">straighten</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title  grey-text text-darken-4">TheProgrammer piano</span>
                            <p><a href="#">This is a link</a></p>
                        </div>

                        <div class="card-content">
                            <span class="card-title activator  grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>

                        </div>


                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>




                    </div>


                </b-col>




                <b-col  sm="6"  md="4" lg="4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <i class="large material-icons video">camera_alt</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title  grey-text text-darken-4">Faire un témoignage</span>
                            <p><a href="#">This is a link</a></p>
                        </div>

                        <div class="card-content">
                            <span class="card-title activator  grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>

                        </div>


                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>




                    </div>


                </b-col>


                    <b-col sm="6"   md="4" lg="4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <i class="large material-icons help">camera_alt</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title  grey-text text-darken-4">TheProgrammer help</span>
                                <p><a href="#">This is a link</a></p>
                            </div>

                            <div class="card-content">
                                <span class="card-title activator  grey-text text-darken-4  "><i class="material-icons right">more_vert</i></span>

                            </div>


                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>




                        </div>


                    </b-col>


            </b-row>










        </b-container>




</template>

<script>
    export default {

    }
</script>


