<template>
<b-row style="margin:auto !important;display:flex;flex-wrap:wrap">

    <v-card v-for="(service,id) in tab_service" :key="id" :loading="loading" class="mx-4 my-12" max-width="374">
        <v-img height="250" :src="require(`~/static/images/${service.images}`)"     :aspect-ratio="16/9" ></v-img>

        <v-card-title class="text-center" style="justify-content:center">{{service.title}}</v-card-title>

        <v-card-text>
            <!-- <v-row
                        align="center"
                        class="mx-0"
                    >
                        <v-rating
                        :value="4.5"
                        color="amber"
                        dense
                        half-increments
                        readonly
                        size="8"
                        ></v-rating>

                    </v-row> -->

            <div>{{service.description}}.</div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-subtitle class="text-center main-color">{{service.titleLanguage}}</v-card-subtitle>

        <v-card-text>
            <v-chip-group active-class="green darken-1accent-4 white--text" column>
                <v-chip v-for="(langage, id) in service.langages" :key="id">{{langage}}</v-chip>

            </v-chip-group>
        </v-card-text>

        <v-card-subtitle class="text-center main-color">Outils dev </v-card-subtitle>

        <v-list :disabled="disabled" :avatar="avatar">
            <v-list-item-group color="primary">
                <v-list-item v-for="(ite, i) in service.items" :key="i">
                    <v-list-item-avatar v-if="avatar">

                        <v-img :src="require(`~/static/images/${service.images}`)" ></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content class="text-center">
                        <v-list-item-title v-html="ite.title"> </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list-item-group>
        </v-list>

    </v-card>

</b-row>
</template>

<script>
export default {
    data: () => ({
        loading: false,
        selection: 1,

        tab_service: [{
                id: 1,
                title: 'Front-end Developer',
                description: 'J\'aime coder des choses à partir de zéro et j\'aime donner vie à des idées dans le navigateur',
                titleLanguage: 'Langage principaux',
                langages: [
                    'html', 'css', 'javascript', 'vue.js', 'sass', 'less', 'bootstrap', 'tailwindcss', 'materialize'
                ],
                images: 'frontend.jpeg',

                items: [{
                        image: 'github.png',
                        title: 'Github',
                    },
                    {
                        image: 'github.png',
                        title: 'Gitlab',
                    },
                    {
                        image: 'github.png',
                        title: 'Webstorm, PhpStorm , Pycharm',
                    },
                    {
                        image: 'github.png',
                        title: 'CodePen',
                    },
                    {
                        image: 'github.png',
                        title: '...',
                    },
                ],

            }, {
                id: 2,
                title: 'Backend-end Developer',
                description: 'J\'apprécie un Backend-end simple, sécurisé , code impécable, bref du lourd!',
                titleLanguage: 'Langage principaux',
                images: 'backend.jpeg',

                langages: [
                    'php', 'Laravel', 'Django', 'C#', 'Java', 'JavaEE',
                ],
                items: [{
                        image: 'github.png',
                        title: 'Github',
                    },
                    {
                        image: 'github.png',
                        title: 'Gitlab',
                    },
                    {
                        image: 'github.png',
                        title: 'Webstorm, PhpStorm , Pycharm',
                    },
                    {
                        image: 'github.png',
                        title: 'CodePen',
                    },
                    {
                        image: 'github.png',
                        title: '...',
                    },
                ]

            }, {
                id: 3,
                title: 'Pianist',
                description: "Parfois s'envoler dans la musique , ca fait du bien. j'aime ",
                titleLanguage: 'Point principaux',
                images: 'piano.jpeg',

                langages: [
                    'solfège', 'bitkusi', 'soliste'
                ],
                items: 'null'

            },

            {
                id: 4,
                title: 'Pâtissier',
                description: "Y'a pas mal de temps, j'étais Pâtissier , j'en ai encore quelque reflexe . 😊",
                titleLanguage: 'Plan d\'action',
                images: 'patisserie.jpeg',

                langages: [
                    'Beignet', 'Gateaux', 'Pain', 'Farine'
                ],
                items: [{
                        image: 'github.png',
                        title: 'Beignets au sucre',
                    },
                    {
                        image: 'github.png',
                        title: 'Pain au lait',
                    },
                    {
                        image: 'github.png',
                        title: 'Gateaux croissant',
                    },

                    {
                        image: 'github.png',
                        title: '...',
                    },
                ]

            }

        ],

        item: 5,

        disabled: true,
        dense: false,
        twoLine: false,
        threeLine: false,
        shaped: false,
        flat: false,
        subheader: false,
        inactive: false,
        subGroup: false,
        nav: false,
        avatar: true,
        rounded: false
    }),

    methods: {
        reserve() {
            this.loading = true

            setTimeout(() => (this.loading = false), 2000)
        },
    },
}
</script>
