<template>
<b-container>
    <v-carousel show-arrows cycle height="auto">
        <v-carousel-item v-for="(item, i) in tab_img_realisation"     :aspect-ratio="16/9"
         :key="i" :src="require(`~/static/realisation/${item}`)" style="background-size: cover">
        </v-carousel-item>
    </v-carousel>
</b-container>
</template>

<script>
export default {
    data() {
        return {
            tab_img_realisation: [
                "courrier4.png",
                "horlogiz1.jpg",
                "student_manage.jpg",
                "C2.jpg",
                "capture1.PNG",
                "zili3.png",
                "student_manage5.jpg",
            ],
        };
    },
};
</script>
