<template>

               
           
     
<v-container fluid>
    <v-row dense>
        <div class="card_recent_projet" v-for="realisation in tab_realisation" :key="realisation.id">
            <nuxt-link :to="'/realisation/' + realisation.id">
                <v-card :hover="true">
                    <v-img :src="require(`~/static/realisation/${realisation.img}`)" class="white--text align-end" >
                    </v-img>
                </v-card>
            </nuxt-link>
            <br />
        </div>
    </v-row>

     <nuxt-link to="projets/galery">
         
       
         
            <v-btn
                class="ma-2"
                
                color="blue"
                style="background-color:#5cb45b; display:flex;margin:auto;color:white"
        
                    >
                    Voir plus ...
                    <template v-slot:loader>
                        <span>Loading...</span>
                    </template>
                </v-btn>
          </nuxt-link> 
</v-container>
</template>

<script>
import {
    mapGetters
} from "vuex";
export default {
    data() {
        return {
           
        };
    },

    computed: {
        ...mapGetters("utils", ["tab_realisation"]),
    },
};
</script>

<style lang="scss">
// SETUPS
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
$main-font: "Source Sans Pro",
sans-serif;
$white: #fff;
$black: #000;
$primary-col: #6200ea;
$secondary-col: #ff9e80;
$light-col: rgba($secondary-col, 0.7);
$mid-col: rgba($primary-col, 0.8);
$turn-speed: 0.8s;
$ease: ease-in-out;

// GENERAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// CARD
.card {
    position: relative;
    width: 374px;

    height: 450px;
    margin: 1rem;
    transform-style: preserve-3d;
    perspective: 800px;

    // Sides
    .front,
    .back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform $turn-speed $ease;

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            filter: grayscale(70%) brightness(40%);
        }
    }

    .front {
        background-color: $primary-col;
    }

    .back {
        background-color: $secondary-col;
        background-image: linear-gradient(-45deg,
                darken($secondary-col, 10%),
                $secondary-col);
        transform: rotateY(180deg);
    }

    &:hover {
        cursor: pointer;

        .front {
            transform: rotateY(-180deg);
        }

        .back {
            transform: rotateY(0deg);
        }
    }

    // Contents
    .contents {
        color: $white;
        text-align: center;
        transform: translateZ(100px);

        .title,
        .subtitle {
            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                margin: 1rem auto;
                background: $white;
            }
        }

        .title {
            font-size: 1.5em;
            white-space: nowrap;
        }

        .subtitle {
            font-size: 1em;
        }

        .text {
            font-size: 1.125em;
        }

        .socials {
            list-style: none;
            display: flex;
            justify-content: center;

            a {
                display: inline-block;
                margin: 0.5rem;
                font-size: 2em;
                color: $white;
                transition: transform 0.3s;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}
</style>
