<template>

<b-container>

    <b-embed
    type="iframe"
    aspect="16by9"
   src="https://www.youtube.com/embed/9TCoEM7xe1A" 
    allowfullscreen
    height="500"
    style="width:100%"
  />

  <br> <br>

   <v-btn
      class="ma-2"
     
      color="success"
      style="background-color:#5cb45b; display:flex;margin:auto"
   
    >
      Voir plus ...
      <template v-slot:loader>
        <span>Loading...</span>
      </template>
    </v-btn>
  </b-container>
</template>

<script>
  export default {
    data () {
    
return {

          tab_img_realisation: ['courrier4.png','horlogiz1.jpg','student_manage.jpg', 'C2.jpg','capture1.PNG','zili3.png','student_manage5.jpg',]

}      
    },
  }
</script>