<template>
  <v-container>


      <v-row>
    <v-col
      v-for="(realisation,n) in tab_realisation"
      :key="n"
      class="d-flex child-flex"
      cols="4"
    >

        <nuxt-link :to="'/realisation/' + realisation.id">


        <v-card :hover="true">
                    <v-img :src="require(`~/static/realisation/${realisation.img}`)" 
                    
                     :lazy-src="`https://picsum.photos/10/6?image=${n * 5 + 10}`"
                        :aspect-ratio="16/9"
                    class="grey lighten-2 white--text align-end"
                     >

                            
                    <template v-slot:placeholder>
                    <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                    >
                        <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                        ></v-progress-circular>
                    </v-row>
                    </template>



                    </v-img>
                </v-card>


         

        </nuxt-link>
     
    </v-col>
  </v-row>
  </v-container>
</template>


<script>

import  {mapGetters} from "vuex"
export default {


    computed: {

        ...mapGetters('utils', [

            'tab_realisation'
        ])
    }
    
}
</script>