<template>

    <div>

        <sidebar-component></sidebar-component>


        <div class="sidebar-auth float-right fixed"  >


            <b-row align-v="center" align-h="center" class="row-auth" >

                <router-view></router-view>
            </b-row>


        </div>


    </div>


</template>

<script>

    import sidebarComponent from '../../components/global/SidebarComponent.vue'
    export default {
        name: "app-auth",

        components:{
            sidebarComponent
        },

        mounted(){

            console.log('chargement de limage')


        },


        beforeRouteLeave(to , from , next){

            $('body').css('background','white').css('background-image','unset');


            next()

        },



        beforeRouteEnter(to ,from, next) {

            $(function () {

                $('body').css('background','url(https://theprogrammer-pro.local/images/images/piano2.jpg) center center /cover')


            });

            next()
        }

    }
</script>
<!--

<style lang="scss" src="../../assets/sass/App/App_auth.scss"></style>
-->
