<template>

        <!--sidebar-->
        <div >




        <sidebar-home v-if="openSidebar" ></sidebar-home >


            <b-container class="container-home"  v-if="$auth.ready()" >

                <header-home></header-home>
                <!--rooter-->




                        <transition name="fade" >


                            <router-view ></router-view>
                        </transition>





                <!--footer global-->
                <!--<footer-home></footer-home>-->

            </b-container>

            <b-container class="container-home" v-if="!$auth.ready()">
                Loading...Global ✨😜
            </b-container>

            <messagerie v-if="$auth.check()"></messagerie>

        </div>

</template>

<script>
    import headerHome from '../global/headerComponent.vue'
    import sidebarHome from '../global/SidebarComponent.vue'
    import footerHome from '../global/footerComponent.vue'
    import home from '../master/Home.vue'
    import messagerie from '../master/messagerie.vue'

    export default {
        data() {
            return {

                openSidebar:true,
                sidebarPosition:"",
                height:0,
                width:0

            }
        } ,

        components:{
            headerHome, sidebarHome, footerHome,home, messagerie
        },

        methods: {

            changeSidebarPosition:function() {


                this.sidebarPosition="responsive";
            },

            closeSidebar:function () {
                this.openSidebar=!this.openSidebar;
            },

            resize:function () {

                if (window.innerWidth<1220){



                    this.width=window.innerWidth;


                }

                this.width=window.innerWidth;
                this.height=window.innerHeight;



            }
        },



    }
</script>



