.main-first-home {
    //background:linear-gradient(to bottom,rgba(118,56,183,.1) 0,rgba(107,55,182,.1) 100%),linear-gradient(-40deg,rgba(114,55,161,0) 82%,#7237a1 88%,#7237a1 94%,rgba(114,55,161,0) 110%),linear-gradient(-60deg,rgba(153,77,207,0) 36%,rgba(153,77,207,.5) 38%,rgba(153,77,207,.5) 40%,rgba(153,77,207,0) 42%),linear-gradient(-60deg,rgba(153,77,207,0) 0,rgba(153,77,207,0) 48%,rgba(153,77,207,.8) 56%,rgba(153,77,207,0) 62%),linear-gradient(34deg,rgba(232,134,232,0) 0,rgba(232,134,232,0) 75%,rgba(232,134,232,.6) 81%,rgba(232,134,232,.6) 83%,rgba(232,134,232,0) 89%),linear-gradient(to right,#302877 0,#4f329c 25%,#7f40cb 61%,#9c55d7 80%,#9e55da 100%);
    background: $tp-linear-gradient-first;
    width: 100%;
    max-height: 100%;
    min-height: 350px;
    margin-bottom: 15px;
    .main-first-home-text {
        color: white;
    }
    .push-t {
        color: white;
    }
    h1 {
        font-size: 2.5rem;
    }
    h1,
    h2,
    h3,
    h4 {
        color: white;
    }
}

.header-bottom {
    width: 100%;
    margin-top: 8px;
    nav {
        background-color: inherit;
        border: none;
        box-shadow: none;
        height: 100%;
        li {
            height: 100%;
            margin: 0 15px;
            display: inline-block;
        }
        a {
            width: 100%;
            height: 100%;
        }
        a.router-link-active {
            border-bottom: 2px solid white;
            transition: all .5s;
        }
        a:hover {
            color: white;
        }
    }
}