
@import 'components/showAvatarAndInfo';
@import 'components/showProfilHeaderBakground';
@import 'components/edit';

.container-profil {

    padding: 0 0;
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width:100%;







}
@import "responsiveProfil";



