.accueil-ptf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
        margin: 20px;
    }
    .div-img-accueil-ptf {
        justify-content: center;
        display: flex;
        width: 350px;
    }
    .div-about-accueil-ptf {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        h1 {
            font-size: 2.6rem;
            line-height: 1.1;
            text-align: center;
            color: #333;
            margin-bottom: 1rem;
        }
        p {
            line-height: 1.5;
            font-size: 1.2rem;
            color: rgb(141, 143, 146);
        }
    }
}