.realisation {

    flex-wrap: nowrap;
    width:100%;

    .section-show-realisation {

        display: flex;
        flex-wrap: wrap;

        .card-group-realisation {

            margin:10px !important;

            .card-realisation{
                width: 190px;
                cursor:pointer;

                .card-img {
                    height:180px;
                }
            }
        }



    }


}



.section-realisation-selected {


    right:0;


    position: absolute;
    position: fixed;
    height: 100%;
    z-index: 997;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-left: 3px solid #666;
    overflow-y: scroll;
    overflow-x: hidden;


    .close-realisation-selected {
        cursor:pointer;
    }
    h1{

        text-align: right;
        font-weight: 600;
        font-size: 1.8rem;

    }

    .section-image-selected {
        display: flex;
        flex-wrap: nowrap;
        margin-top:25px;



        img {
            margin: 0 15px;
        }
    }

}

.section-description {


    display:flex;
    flex-wrap: nowrap;
    margin-top:20px;

    .title{
        font-size:1.4rem;
        font-weight:600;

    }


    p{
        color:#8f8f8f;
    }

    ul li {
        color:#8f8f8f;
        line-height: 1.8;
    }
    ol {
        padding :10px;
    }


    i.small {
        font-size: 1rem;
    }


}
