<template>

    <b-container fluid class="row-add-temoignage ">


        <b-container >

            <b-row align-h="center" class="row-form-temoignage">
                <div class="row" style="text-align:center">
                    <div  class="w-100 form-temoignage-header-text" >


                        <h1 >Faire un temoignage</h1>

                        <h2>Temoignage for TheProgrammer</h2>
                    </div>

                    <b-row class="nav-form-temoignage w-100">
                            <nav>
                                <ul>

                                    <router-link :to="{name:'personnel', params:isRoute}" :class="{'router-link-active-reupdate':isLien1}"> <li>Personnel</li></router-link>
                                    <router-link :to="{name:'professional',params:isRoute}" :class="{'router-link-active-reupdate':isLien2}" id="temoigner"> <li>Temoigner</li></router-link>
                                    <router-link to="#" :class="{'router-link-active-reupdate':isLien3}"> <li>Personnel</li></router-link>

                                </ul>


                            </nav>
                    </b-row>
                <keep-alive>
                    <router-view></router-view>

                </keep-alive>
                </div>

            </b-row>


        </b-container>

    </b-container>





</template>

<script>
    export default {
        name: "temoignageAdd",
        data() {

            return {

                isLien1:true,
                isLien2:false,
                isLien3:false,


                isRoute: {
                    isLien1:true,
                    isLien2:false,
                    isLien3:false,
                }

            }
        },

        mounted() {

            document.getElementById('temoigner').removeAttribute('href')
        },

        beforeRouteLeave(to,from, next) {

            this.isRoute.isLien1=false;
        }
    }
</script>

