
  
<template>

        <!--sidebar-->
        <div >





            <b-container fluid  v-if="isShowApplication">

                <header-home></header-home>
                <!--rooter-->



                        <transition name="fade" >


                                <nuxt />
                        </transition>




 <footer-home></footer-home>

                <!--footer global-->
             

            </b-container>

             <b-container class="container-home" v-if="!isShowApplication">
                 Loading...Global ✨😜
             </b-container>
  

        </div>

</template>

<script>
    import headerHome from '~/components/global/headerComponent.vue'
    import sidebarHome from '~/components/global/SidebarComponent.vue'
    import footerHome from '~/components/global/footerComponent.vue'

    export default {
        data() {
            return {

                openSidebar:false,
                sidebarPosition:"",
                height:0,
                width:0,
                isShowApplication:true

            }
        } ,

        components:{
            headerHome, sidebarHome, footerHome
        },

        methods: {

            changeSidebarPosition:function() {


                this.sidebarPosition="responsive";
            },

            closeSidebar:function () {
                this.openSidebar=!this.openSidebar;
            },

            resize:function () {

                // if (window.innerWidth<1220){



                //     this.width=window.innerWidth;


                // }

                // this.width=window.innerWidth;
                // this.height=window.innerHeight;



            },

        },

        mounted() {

        }



    }
</script>




 