<template>
    <b-row class="w-100">


        <b-row class="w-100 accueil-ptf w-100" >


            <div>

                <img src="/images/veste1.jpg" alt="photo TheProgrammer"  height="300" width="400">
            </div>

            <div  class="div-about-accueil-ptf">

                <h1>Je Suis Josué Nguimatio</h1>

                <p>
                    Salut, je m'appelle Nguimatio josué
                    j'ai commencé le développement web et le web design pour développer un petit site perso
                    et c'est rapidement devenu une vraie vocation , une vraie passion. J'aime expérimenter, découvrir et apprendre au fur et à mesure de mes projets professionnels,
                    et personnels
                    je partage également ma passion en faisans des tutos notament
                    dans la programmation(php,html,css,pyhon ,java...), logiciel car l'envie me prend des fois! ;--)

                </p>


                <div>

                <v-btn
                     class="m-0"
                        outlined
                        large
                        color="indigo"
                        >
                        Télécharger mon CV
                        </v-btn>
                </div>

                


            </div>
        </b-row>


    </b-row>
</template>

<script>
  
    export default {
      
    }
</script>

<style scoped>

</style>
