<template>
<v-content>
    <v-container>
        
  <h4 style="text-align: center">Contacter nous</h4>
        <v-row justify="space-between">
            <v-col cols="12" md="5">
                <base-business-info title="KEEP IN TOUCH WITH US">
                    Vous pouvez nous contacter, avez vous besoin d'aide ? Nous somme
                    disponible H24 pour vous, s'il vous plait remplissez ce
                    formulaire.👉
                    <br>
                    <card-subtitle> <strong>Mail</strong> : <a href = "mailto: nguimatiojesbeer92@gmail.com">nguimatiojesbeer92@gmail.com
                        </a></card-subtitle>
                     <br>
                    <card-subtitle> <strong>Tel</strong> : <a href="tel:+237698305411">+237 698305411</a></card-subtitle>
                </base-business-info>
            </v-col>

            <v-col cols="12" md="6">
            

                <v-form>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12">
                                <v-text-field v-model="first" type="text" label="Nom" outlined></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12">
                                <v-text-field v-model="first" label="Email" type="email" outlined></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12">
                                <v-textarea outlined name="input-7-4" label="message" clearable value="Veuillez entrer votre message ici"></v-textarea>
                            </v-col>

                            <v-btn class="ma-2" outlined color="indigo">Send message</v-btn>
                        </v-row>
                    </v-container>
                </v-form>
            </v-col>
        </v-row>
    </v-container>

    <br /><br />
</v-content>
</template>

<script>
export default {
    data() {
        return {
            items: [{
                    src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
                },
                {
                    src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
                },
            ],
        };
    },
};
</script>
