<template>
<b-row align-h="center" class="row-main-global">
  



    <main-first-home></main-first-home>

    <main class="main">
        <my-service-component></my-service-component>

        <h2 class="title-section">Recent Projet</h2>

        <p class="subtitle-section">Des projet recent sur lesquelle j'ai travaillé</p>

        <recent-projet-component></recent-projet-component>


      <br>

        
        <br>


        <h2 class="title-section">DES COMMUNAUTES</h2>

        <p class="subtitle-section">Des projet recent sur lesquelle j'ai travaillé</p>

        <communitie></communitie>
       
        <br>

        
        <br>

        <h2 class="title-section">Tutoriel Recent</h2>

        <p class="subtitle-section">Formation sur sass et compass </p>

        <recent-tutoriel-component></recent-tutoriel-component>

  

        <Caroussel-home></Caroussel-home>

    </main>

</b-row>
</template>

<script>
import MainHomeComponent from '~/components/children/home/modules/MainHomeComponent.vue'
import MainRecentProjet from '~/components/children/home/modules/MainRecentProjet.vue'
import HomeRealisationComponent from '~/components/children/home/modules/HomeRealisationComponent.vue'
import MainFirstHome from '~/components/children/home/modules/MainFirstHome.vue'
import CarousselHome from '~/components/children/home/modules/CarousselHome.vue'
import MyServiceComponent from '~/components/children/home/modules/MyServiceComponent.vue'
import RecentProjetComponent from '~/components/children/home/modules/RecentProjetComponent.vue'
import RecentRealisationComponent from '~/components/children/home/modules/RecentRealisationComponent.vue'
import RecentTutorielComponent from '~/components/children/home/modules/RecentTutorielComponent.vue'
import communitie from '~/components/children/home/modules/Communitie.vue'

export default {
    components: {
        MainHomeComponent,
        MainRecentProjet,
        HomeRealisationComponent,
        MainFirstHome,
        CarousselHome,
        MyServiceComponent,
        RecentProjetComponent,
        RecentTutorielComponent,
        RecentRealisationComponent,
        communitie,

    },

}
</script>
<!--

<style lang="scss" src="../../assets/sass/home/home.scss" >
</style>
-->
