<template>
    <b-row class="w-100">


        <b-row class="w-100 accueil-ptf w-100" >


            <div>

                <img src="/piano1.jpg" alt="Piano"  height="500" width="500">
            </div>

            <div  class="div-about-accueil-ptf">

                <h1>Ouff! je vous prie de patienter la disponibilité de mes vidéo piano. </h1>

        

            </div>
        </b-row>


    </b-row>
</template>

<script>
   
    export default {

    }
</script>

<style scoped>

</style>
