<template>
    <b-row class="w-100">


        <b-row class="w-100 accueil-ptf w-100" >


            <div>

                <img src="/images/veste1.jpg" alt="photo TheProgrammer"  height="200" width="200">
            </div>

            <div  class="div-about-accueil-ptf">

                <h1>Page des Tutoriel bientôt disponible , merci de patienter ! </h1>

        

            </div>
        </b-row>


    </b-row>
</template>

<script>
  
</script>

<style scoped>

</style>
