//main for home
//main for my recent projet
.row-main-global {
    margin: 0 !important;
}

body {
    opacity: 5;
}

.main {
    height: 100%;
    width: 100%;
    font-size: 1.6em;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.title-section {
    text-align: center;
    margin-top: 0;
}

.subtitle-section {
    text-align: center;
    font-size: 0.8em;
}

@import 'pages/home/HomeRealisationComponent.scss';
@import 'pages/home/mainHome.scss';
@import 'pages/home/mainRecentProjet.scss';
@import 'pages/home/mainFirstHome.scss';