<template>
<!-- <header class="header-principal">
    <div class="header-content-left pull-left">
        <img src="/static/logo1.png" alt="" width="70" height="100" />
    </div>

    <div>
        <v-tabs class="hidden-sm-and-down" optional>
            <v-menu :allow-overflow="true" offset-y v-for="(ite, i) in items" :key="i">
                <template v-slot:activator="{ on, attrs }">
                    <nuxt-link :to="ite.to" v-if="!(ite.item.length > 0)">
                        <v-btn text class="align-self-center mr-4 header-btn" v-bind="attrs">
                            {{ ite.name }}
                            <v-icon v-if="ite.item.length > 0" right>mdi-menu-down</v-icon>
                        </v-btn>
                    </nuxt-link>

                    <v-btn v-if="ite.item.length > 0" text class="align-self-center mr-4 header-btn" v-bind="attrs" v-on="on">
                        {{ ite.name }}
                        <v-icon v-if="ite.item.length > 0" right>mdi-menu-down</v-icon>
                    </v-btn>
                </template>

                <v-btn dark icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
            </v-menu>
        </v-tabs>
    </div>

   
</header> -->

<div>
    <div class="test">
        <input type="checkbox" class="menu-toggle" id="menu-toggle">
        <div class="mobile-bar">
            <a class="navbar-brand" href="/" style="padding:0px;">
                    <img src="/logo1.png" alt="" width="70" height="100" />

                </a>
            <label for="menu-toggle" class="menu-icon">
                <span></span>
            </label>
        </div>

        <header class="header">
            <a class="navbar-brand" href="/" style="padding:0px;">
                    <img src="/logo1.png" alt="" width="70" height="100" />

                </a>
            <nav>
                <ul>
                    <li v-for="(item,k) in items" :key="k ">
                        <nuxt-link :to="item.to" href="#">{{item.name}}</nuxt-link>
                        </li>
                    
                </ul>
            </nav>
        </header>

        

    </div>
</div>
</template>
<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
<script>
export default {
    data() {
        return {
            openProfil: false,
            prenom: "TheProgrammer",
            clickSidebar: 0,
            height: 0,
            width: 0,
            clickResizeHeader: 0,

            items: [{
                    name: "Home",
                    to: "/",
                    item: [],
                },
                {
                    name: "About",
                    to: "/about",
                    item: [],
                },

              
                {
                    name: "Contacter",
                    to: "/contact",
                    item: [],
                },
                {
                    name: "Temoignage",
                    to: "/temoignage",
                    item: [],
                },
                {
                    name: "Piano",
                    to: "/piano",
                    item: [],
                },

              
            ],
        };
    },

    methods: {
        close: function () {
            this.openProfil = true;
        },
        closeSidebar: function () {
            this.$parent.openSidebar = !this.$parent.openSidebar;

            $(".container-home").css("float", "right").css("width", "100%");

            this.$parent.sidebarPosition = "responsive";
            this.clickSidebar--;
            /*$('.container-home').css('max-width','calc(100% - 280px)').css('float','unset')*/
        },

        resizeHeader: function () {
            if (this.clickResizeHeader === 0) {
                $(".header-principal").animate({
                        height: "30px",
                    },
                    800
                );
                this.clickResizeHeader++;
            } else {
                $(".header-principal").animate({
                        height: "50px",
                    },
                    800
                );
                this.clickResizeHeader--;
            }
        },

        full: function (element) {
            if (!document.fullscreenElement) {
                return (
                    element.requestFullscreen ||
                    element.webkitRequestFullscreen ||
                    element.mozRequestFullScreen ||
                    element.msRequestFullscreen
                ).call(element);
            } else {
                return (
                    document.exitFullscreen ||
                    document.webkitExitFullscreen ||
                    document.mozExitFullscreen ||
                    document.msExitFullscreen
                ).call(document);
            }
        },
    },

    mounted() {
        let bouton = document.getElementById("full-screen");
        let app = this;
    },
};
</script>

<style scoped>
.lightSpeedIn-enter-active {
    animation: lightSpeedIn 0.5s;
}

.lightSpeedIn-leave-active {
    animation: lightSpeedOut 0.5s;
}

.header-btn {
    box-shadow: none !important;
}


.menu-toggle {
    display: none;
}

.mobile-bar {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25px;
    /*BAR HOW MUCH IN RIGHT*/
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    float: right;
    display: block;
    position: relative;
    width: 25px;
    height: 100%;
    cursor: pointer;
    transition: transform 300ms ease-in;
    /*the bar to X*/
}

.menu-icon > span {
    display: block;
    position: absolute;
    top: 55%;
    margin-top: -0.3em;
    width: 100%;
    height: 0.199em;
    border-radius: 1px;
    background-color: #696969;
    transition: transform 300ms ease-in;
}

.menu-icon > span:before,
.menu-icon > span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: #696969;
    transition: transform 300ms ease;
}

.menu-icon > span:before {
    transform: translateY(-0.6em);
}

.menu-icon > span:after {
    transform: translateY(0.6em);
}


/*need this for bringing down the examples*/

.menu-toggle:checked + .mobile-bar .menu-icon {
    transform: rotate(45deg);
}

.menu-toggle:checked + .mobile-bar span:before,
.menu-toggle:checked + .mobile-bar span:after {
    transform: rotate(90deg);
}


/*needed*/

.menu-toggle:checked ~ .header {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.header {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    width: 100%;
    height: 50%;
    background-color: white;
    padding-right: 5.7px;
    color: #eee;
    transition: opacity 300ms ease-in, visibility 0s ease-in 300ms;
  box-shadow: 0 1px 15px -5px gray;
  z-index: 5000;
}

.header nav,
.header ul {
    height: 100%;
}

    .header ul {
        display:flex;
        flex-direction: column;
    } 

.header li {
    border-bottom: 1px solid #eee;
    color: #505050;
    /*text on navbar*/
    font-weight: 430;
    line-height: 2.4;
    /*height of the navbar*/
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.header li:hover {
    color: #696969;
    transition: color 300ms ease-in;
}

.header a {
    display: block;
    padding: 25px;
    transition: background-color 300ms ease-in;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 40px;
    width: auto;
    z-index: 10;
    position: fixed;
    top: 13.45px;
    left: 0;
    padding: 0 25px;
    /*BAR HOW MUCH IN RIGHT*/
    background-color: white;
}

.test {
    top: 0;
    width: 100%;
    position: relative;
    margin-bottom: 65px;
}


@media (min-width: 1000px) {
    .mobile-bar {
        display: none;
    }
    .header {
        z-index: 5;
        position: fixed;
        left: 0;
        padding-top: 0;
        width: 100%;
        height: auto;
        overflow: auto;
        visibility: visible;
        opacity: 1;
        text-align: right;
    }
   
    .header ul {
        display:flex;
        flex-direction:row;
        align-items: flex-end;
        justify-content: flex-end;
    } 
    .header li {
        display: inline-block;
        margin-right: -6px;
        /* fix the inline-block gap */
        border: none;
        text-align: left;
    }
    .header a {
        padding: 15px 35px;
        /*header height and text spacing*/
    }
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /*******************/


@media only screen and (max-width: 600px) {
    body[yahoo] .full_width_600 {
        width: 90% !important;
    }
}

@media only screen and (max-width: 700px) {
    body[yahoo] .full_width_700 {
        width: 100% !important;
    }
    body[yahoo] .txt_center {
        text-align: center !important;
    }
    body[yahoo] .separator {
        height: 40px !important;
    }

}








ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



p {
    margin: 0.9em 0;
    line-height: 1.5;
}











</style>
