<template>

        <div  class="sidebar-image" >



                <div class="sidebar" >

                    <div class="div_close_sidebar">

                        <i class="large material-icons md-48 menu-sidebar cursor-pointer" @click.prevent="closeSidebar">menu</i>


                    </div>

                    <header class="sidebar-header">

                        <div class="sidebar_search">

                            <input type="search" placeholder="search" class="input_search">
                        </div>


                    </header>


                    <nav class="sidebar-nav">
                        <a href="" class="sidebar-header-replace-notify"> <img src="~/assets/img/icone/no2.png" class="img-other-header" alt="" width="25" height="25">Notification</a>
                        <router-link to="/" ><i class="small material-icons">home</i>Accueil</router-link>
                        
                       
                         <nuxt-link :to="{name:'about'}">
                            <i class="large material-icons">insert_chart</i>
                            A Propos
                        </nuxt-link>
                         <nuxt-link :to="{name:'temoignage'}">
                            <i class="large material-icons">insert_chart</i>
                            Témoignage
                        </nuxt-link>

                        <nuxt-link :to="{name:'tutoriel'}">
                            <i class="large material-icons">insert_chart</i>
                            Tutoriel
                        </nuxt-link>

                        <router-link :to="{ name: 'piano' }"  >
                            <i class="large material-icons">insert_chart</i>
                            TheProgrammer Piano </router-link>
                       <nuxt-link :to="{name:'portfolio'}">
                            <i class="large material-icons">insert_chart</i>
                            Portolio
                        </nuxt-link>
                      


                    </nav>
                </div>
            </div>

</template>

<script>
  import getInfoUser from "./js/getInfoUser";

        export default{

            data(){

                return {

                    name:"",
                    sidebarNotClosed: true,
                    click:0

                }
            },
            mounted() {
                    //loading user info
                let app=this;



            },

           methods:{

                closeSidebar:function() {


                    //si la sidebar es ouverte

                    if (this.click%2===0){

                        $('.container-home').css('max-width','100%').css('float','none')


                        this.click++



                    }
                    else{
                        $('.container-home').css('max-width','100%').css('float','none')

                        this.click++



                    }

                    if(!this.$parent.openSidebar){


                        $('.sidebar').css('transform','translateX(500px)')


                    }

                    else{


                    }
                    this.$parent.closeSidebar()

                },

               resizeSidebar:function () {


                  if(window.innerWidth<=873){
                       this.$parent.openSidebar=false
                   }

                   else{

                      this.$parent.openSidebar=true
                   }
               }



           },

            updated(){
                window.onresize=this.resizeSidebar
            }
        }

</script>
