@import 'sassComponent/videoPlay';
@import 'sassComponent/carousselVideo';
@import 'sassComponent/sidebarRecentVideo';


@mixin div_video() {
    width: 70%;
    display: flex;
    flex-direction: column;


}

@mixin videoAndComment(){

    width: 80%;
}
.container-vd-piano{


    max-width: 1500px;
    margin: 25px auto;

    display: flex;
    flex-wrap: wrap;



}








@import "../responsivePiano";






