.showInfoGlobal{
    width: 100%;
    margin:25px auto;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    .card {

        .card-image{


            img {

                    height:270px;
            }
        }
    }

    .row-info{

        border-top:1px solid rgba(0,0,0,0.1);
        padding:30px 0;
    }


    @media (min-width: 576px){

        .col-sm-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 768px) {

        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 50.333333%;
            max-width: 49.333333%;
        }

    }

    @media (min-width: 992px){

            .col-lg-4 {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 42.333333%;
                max-width: 40.333333%;
            }
    }

    @media (min-width: 1200px)

    {

        .col-xl-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }


}

.card{

    margin-bottom:4rem;
}


