<template>
    <b-row class="w-100">
        <form @submit.prevent="make" class="form">


            <b-col cols="12">
                <div class="row">
                    <div class="input-field col s12">
                        <select  v-model="type">

                            <option value="" disabled selected> en tant que </option>
                            <option value="amis">Amis</option>
                            <option value="connaissance">Connaissance</option>
                            <option value="professionnel">Professionnel</option>
                            <option value="famille">Famille</option>



                        </select>
                        <span  class="errorTemoigner" v-if="hasError && hasErrorType"> {{ errors.type}}</span>

                    </div>
                </div>
            </b-col>


            <b-form-textarea v-model="temoignage" :rows="8"
                             :max-rows="10">
            </b-form-textarea>
                <span class="errorTemoigner" v-if="hasError && hasErrorTemoignage"> {{ errors.temoignage}}</span>


                <button class="btn waves-effect waves-light pull-right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

        </form>

    </b-row>
</template>

<script>
    export default {

        name: "temoignage",

        data() {


            return {


                type: '',
                temoignage: '',
                element: {},
                hasError: false,
                hasErrorType: false,
                hasErrorTemoignage: false,

                errors: {

                    type: false,
                    temoignage: false
                },

            }

        },

                methods: {


                    make: function () {

                        let app = this;
                        this.insertTableau();


                        axios.post('temoignage/make', this.element)
                            .then(function (response) {

                                console.log('ca marche 😍😍😍😍😁');
                                console.log(response.data);
                                app.hasError = false;

                                /* app.$router.push({name : 'temoignage'});*/


                            })
                            .catch(function (error) {
                                app.hasError = true;
                                let errors = error.response.data.errors;
                                console.log("affichage des errror fonction");
                                console.log(error.response);

                                if (errors.type || error.temoignage)
                                {



                                    if (errors.type) {


                                        app.hasErrorType = true;
                                        app.errors.type = errors.type[0];
                                    }

                                    if (errors.temoignage) {
                                        app.hasErrorTemoignage = true;
                                        app.errors.temoignage = errors.temoignage[0];
                                    }

                                }


                                else {

                                    this.redirectError(error);
                                }





                            })
                    },

                    insertTableau: function () {
                        let app = this;
                        //verification du nom

                        if (app.type && !(app.type === "")) {
                            app.element.type = app.type;
                        }

                        else {
                            app.hasErrorType = true;
                            app.errors.type = "Vous devez avoir entrer un type";
                        }


                        if (app.temoignage && !(app.temoignage === "")) {
                            app.element.temoignage = app.temoignage;
                        }

                        else {

                            if (errors.temoignage) {
                                app.hasErrorTemoignage = true;
                                app.errors.temoignage = "Vous devez entrer quelque chose";
                            }

                        }


                    }

                },


        beforeRouteEnter(to, from, next) {


             if (to.params.completed)  {

                 next()
             }

             else {
                 this.$router.push({name:personnel})
             }

        }






    }
</script>

